@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header,
footer {
  background-color: rgb(185, 145, 221);
  height: 15vh;
  color: white;
}

main {
  min-height: 70vh;
}

a {
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 1rem;
}
